*{
    margin: 0;
    padding: 0;
    font-family: "Scope One", serif;
}
nav{
    background-color: black;
    overflow: hidden;
}
nav ul{
    float: right;
    padding-top: 10px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
}
.logo{
    float: left;
}
.button{
    display: none;
    width: 20%;
    border: none;
    box-sizing: border-box;
}

.section34{
    padding: 40px;
    text-align: center;
}
.section34 h1{
    color: red;
    font-size: 40px;
    padding: 10px;
}
.section34 p{
    font-size: 19px;
}
form{
    background-color: red;
    color: white;
    padding: 40px;
    font-size: 27px;

}
input[type='text']{
    color: black;
    padding: 18px;
    margin: 10px;
}
input[type='password']{
    color: black;
    padding: 18px;
    margin-left: 30px;
}
input[type='radio']{
    color: black;
    padding: 10px;
    margin:  40px 20px;
    font-size: 18px;
    text-align: left;
}
input[type='your message']{
    color: black;
    padding: 10px;
    font-size: 18px;
    text-align: left;
}
.select{
    border: 3px solid white;
    padding: 10px;
}
.button1{
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    outline: none;
    background: none;
    font-size: 20px;
}
.button1:hover{
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: black;
    outline: none;
    background-color: white;
    font-size: 20px;
}
.password{
    margin-left: 90px;
}
.content{
    margin-left: 140px;
}

.section31{
    background-color: black;
    padding: 25px 15px;
}
.section32 a{
    color: white;
    width: 30%;
    font-size: 20px;
    text-align: center;
    float: right;
}
.section32 ul li{
    display: inline-block;
    padding: 10px;
}
.section33{
    color: white;
    width: 70%;
    float: left;
}
.section33 h1{
    text-align: center;
}






























































@media screen and (max-width: 578px){
    nav{
        background-color: black;
        overflow: hidden;
    }
    nav ul{
        width: 100%;
        padding-top: 10px;
        display: none;
    }
    nav ul li{
        list-style-type: none;
        display: block;
    }
    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 10px 25px;

        display: inline-block;
    }
    .logo{
        float: none;
    }
    .active{
        display: block;
    }
    .button{
        display: block;
        width: 20%;
        float: right;
        background-color: #eeeeee;
        padding: 10px;
        padding-top: 20px;
    }
    form{
        background-color: red;
        color: white;
        padding: 40px;
        font-size: 27px;
    }
    input[type='text']{
        color: black;
        padding: 18px;
        margin: 10px;
    }
    input[type='password']{
        color: black;
        padding: 18px;
        margin-left: 30px;
    }
    input[type='radio']{
        color: black;
        padding: 10px;
        margin: 40px 10px;
        font-size: 18px;
        text-align: left;
    }
    input[type='your message']{
        color: black;
        padding: 10px;
        font-size: 18px;
        text-align: left;
        margin-top: 10px;
    }
    .select{
        border: 3px solid white;
        padding: 10px;
    }
    .button1{
        padding: 20px;
        border: 2px solid white;
        border-radius: 20px;
        color: white;
        outline: none;
        background: none;
        font-size: 20px;
    }
    .button1:hover{
        padding: 20px;
        border: 2px solid white;
        border-radius: 20px;
        color: black;
        outline: none;
        background-color: white;
        font-size: 20px;
    }
    .password{
        margin-left: 1px;
    }
    .content{
        margin-left: 1px;
    }
    textarea{
        width: 100%;
    }
    .section31{
        background-color: black;
        padding: 25px 15px;
    }
    .section32 a{
        color: white;
        width: 100%;
        font-size: 20px;
    }
    .section32 ul{
        text-align: center;
    }
    .section32 ul li{
        display: inline-block;
        padding: 10px;
    }
    .section33{
        color: white;
        width: 100%;
    }
    .section33 h1{
        text-align: center;
    }
}