*{
    margin: 0;
    padding: 0;
    font-family: "Scope One", serif;
}
nav{
    background-color: black;
    overflow: hidden;
}
nav ul{
    float: right;
    padding-top: 15px;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    font-family: "Scope One", serif;
    font-size: 20px;
    color: white;
    padding: 20px 25px;
    text-decoration: none;
}
.logo{
    float: left;
    padding: 10px 25px;
}
.button{
    width: 20%;
    display: none;
    float: right;
}
.section12 {
    background-image: url("images/m6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    height: 650px;
}
.section13 i{
    font-size: 60px;
    padding-top: 100px;
}
.section13 h1{
    font-size: 60px;
    padding: 50px 20px 30px 20px;
}
.section13 p{
    font-size: 19px;
    padding: 0 100px;
    color: white;
}
.button1{
    font-family: "Scope One", serif;
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 10px 20px;
    border: 2px solid red;
    margin: 20px;
}
.section14{
    background-color: #eeeeee;
    padding: 50px 10px;
    height: 550px;
}
.section14 h1{
    font-family: "Scope One", serif;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
}
.section14 p{
    font-family: "Scope One", serif;
    font-size: 20px;
}
.section15  .section16  .section17  .section18 ,  h2{
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
.section15  .section16  .section17  .section18 ,  p{
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: black;
}
.section15 i{
    font-size: 30px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 40px;
}
.section16 i{
    font-size: 30px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 40px;
}
.section17 i{
    font-size: 30px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 40px;
}
.section18 i{
    font-size: 30px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 40px;
 }

.section15{
    width: 25%;
    float: left;
    text-align: center;
}
.section16{
    width: 25%;
    float: right;
    text-align: center;
}
.section17{
    width: 25%;
    float: right;
    text-align: center;
}
.section18{
    width: 25%;
    text-align: center;
    float: right;
}
.section19{
    padding: 50px 10px;
    text-align: center;
}
.section19 h1{
    font-size: 30px;
}
.section19 p{
    font-size: 18px;
    padding: 30px 30px;
}
.section20{
    width: 50%;
    float: left;
}
.section21{
    width: 50%;
    float: right;
}
.hr{
    width: 90%;
    color: black;
    margin: 50px;
}
.div{
    clear: both;
}
.section22{
    text-align: center;
    padding: 50px;
}
.button2{
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 25px 30px;
    outline: none;
    border: 2px solid red;
    border-radius: 40px;
}
.button2:hover{
    font-size: 20px;
    color: red;
    background-color: white;
    padding: 25px 30px;
    outline: none;
    border: 2px solid red;
    border-radius: 40px;
}
.section23{
    padding: 60px 20px;
    background: url("images/g87.jpg") no-repeat fixed;
    text-align: center;
    height: 650px;
}
.section23 h1{
    font-size: 35px;
    color: white;
    padding: 10px;
}
.section23 p{
    font-size: 17px;
    color: white;
    padding: 40px 30px;
}
.section24{
    width: 32%;
    float: left;
}
.section25{
    width: 32%;
    float: right;
}
.section26{
    width: 32%;
    float: right;
}
.section27{
    background: url("images/featured-wrapper-bg.jpg") repeat;
    padding: 30px 10px;
    height: 170px;
}
.section28 {
    width: 33%;
    float: left;
}
.section28 , .section29 , .section30 h1{
    color: white;
}
.section29{
    width: 33%;
    float: right;
}
.section30{
    width: 33%;
    float: right;
}
.section28 ul li{
    list-style-type: none;
    padding: 4px;
}
.section29 ul li{
    list-style-type: none;
    padding: 4px;
}
.section30 ul li{
    list-style-type: none;
    padding: 4px;
}
.section28 ul li a{
    color: white;
    text-decoration: none;
    padding: 4px;
}
.section29 ul li a{
    color: white;
    text-decoration: none;
    padding: 4px;
}
.section30 ul li a{
    color: white;
    text-decoration: none;
    padding: 4px;
}
.section31{
    background-color: black;
    padding: 25px 15px;
}
.section32 a{
    color: white;
    width: 30%;
    font-size: 20px;
    text-align: center;
    float: right;
 }
.section32 ul li{
    display: inline-block;
    padding: 10px;
}
.section33{
    color: white;
    width: 70%;
    float: left;
}
.section33 h1{
    text-align: center;
}
































































@media (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
        font-family: "Scope One", serif;
    }
    nav {
        background-color: black;
        overflow: hidden;
    }
    nav ul{
        width: 100%;
        display: none;
    }
    nav ul li{
        list-style-type: none;
        display:  block;
        text-align: center;
    }
    nav ul li a{
        text-decoration: none;
        font-family: "Scope One", serif;
        font-size: 20px;
        color: white;
        padding: 15px 25px;
        display: inline-block;
    }
    .logo {
        float: none;
        display: block;
    }
    .button{
        width: 20%;
        float: right;
        padding: 10px;
        background: black;
        text-align: center;
        box-sizing: border-box;
        border: 2px solid white;
        color: white;
        font-size: 30px;
        display: block;
    }
    .active{
        display: block;
    }
    .button1{
        font-family: "Scope One", serif;
        font-size: 20px;
        color: white;
        background-color: red;
        padding: 10px 20px;
        border: 2px solid red;
        margin: 20px;
    }
    .section12 {
        background-image: url("images/m6.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: white;
        height: 850px;
    }
    .section13 i{
        font-size: 60px;
        padding-top: 100px;
    }
    .section13 h1{
        font-size: 50px;
        padding: 50px 20px 30px 20px;
    }
    .section13 p{
        font-size: 19px;
        padding: 0 70px;
        color: white;
    }
    .section14{
        background-color: #eeeeee;
        padding: 50px 10px;
        height: 1650px;
    }
    .section14 h1{
        font-family: "Scope One", serif;
        font-size: 30px;
        text-align: center;
    }
    .section14 p{
        font-family: "Scope One", serif;
        font-size: 20px;
        padding-bottom: 30px;
    }
    .section15  .section16  .section17  .section18 ,  h2{
        font-size: 25px;
        padding: 10px;
        text-align: center;
    }
    .section15  .section16  .section17  .section18 ,  p{
        font-size: 18px;
        text-align: center;
        padding: 10px;
        color: black;

    }
    .section15 i{
        font-size: 30px;
        border: 2px solid black;
        padding: 20px;
        border-radius: 40px;
    }
    .section16 i{
        font-size: 30px;
        border: 2px solid black;
        padding: 20px;
        border-radius: 40px;
    }
    .section17 i{
        font-size: 30px;
        border: 2px solid black;
        padding: 20px;
        border-radius: 40px;
    }
    .section18 i{
        font-size: 30px;
        border: 2px solid black;
        padding: 20px;
        border-radius: 40px;
    }

    .section15{
        width: 100%;
        text-align: center;
    }
    .section16{
        width: 100%;
        text-align: center;
    }
    .section17{
        width: 100%;
        text-align: center;
    }
    .section18{
        width: 100%;
        text-align: center;
    }
    .section19{
        padding: 50px 10px;
        text-align: center;
    }
    .section19 h1{
        font-size: 30px;
    }
    .section19 p{
        font-size: 18px;
        padding: 30px 30px;
    }
    .section20{
        width: 90%;
    }
    .section21{
        width: 90%;
        margin-right: 40px;
    }
    .section20 .section21 ,img{
        width: 80%;
    }
    .hr{
        width: 80%;
        color: black;
        margin: 50px;
    }
    .section22{
        text-align: center;
        padding: 50px;
    }
    .button2{
        font-size: 20px;
        color: white;
        background-color: red;
        padding: 25px 30px;
        outline: none;
        border: 2px solid red;
        border-radius: 40px;
    }
    .button2:hover{
        font-size: 20px;
        color: red;
        background-color: white;
        padding: 25px 30px;
        outline: none;
        border: 2px solid red;
        border-radius: 40px;
    }
    .section23{
        padding: 60px 20px;
        background: url("images/g87.jpg") no-repeat fixed;
        text-align: center;
        height: 2590px;
    }
    .section23 h1{
        font-size: 35px;
        color: white;
        padding: 10px;
    }
    .section23 p{
        font-size: 17px;
        color: white;
        padding: 40px 30px;
    }
    .section24{
        width: 90%;
    }
    .section25{
        width: 90%;
    }
    .section26{
        width: 90%;
    }
    .section27{
        background: url("images/featured-wrapper-bg.jpg") repeat;
        padding: 30px 10px;
        height: 550px;
    }
    .section28 {
        width: 100%;
    }
    .section28 , .section29 , .section30 h1{
        color: white;
    }
    .section29{
        width: 100%;
    }
    .section30{
        width: 100%;
    }
    .section28 ul li{
        list-style-type: none;
        padding: 4px;
    }
    .section29 ul li{
        list-style-type: none;
        padding: 4px;
    }
    .section30 ul li{
        list-style-type: none;
        padding: 4px;
    }
    .section28 ul li a{
        color: white;
        text-decoration: none;
        padding: 4px;
    }
    .section29 ul li a{
        color: white;
        text-decoration: none;
        padding: 4px;
    }
    .section30 ul li a{
        color: white;
        text-decoration: none;
        padding: 4px;
    }
    .section31{
        background-color: black;
        padding: 25px 15px;
    }
    .section32 a{
        color: white;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .section32 ul li{
        display: inline-block;
        padding: 10px;
    }
    .section33{
        color: white;
        width: 100%;
    }
    .section33 h1{
        text-align: left;
    }
}