*{
    margin: 0;
    padding: 0;
    font-family: "Scope One", serif;
}
nav {
    background-color: black;
    overflow: hidden;
}
nav ul{
    float: right;
    padding-top: 15px;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-family: "Scope One", serif;
    font-size: 18px;
    color: white;
    padding: 15px 25px;
}
.logo{
    float: left;
    padding: 10px 25px;
}
.button{
    width: 100%;
    padding: 10px;
    background: black;
    text-align: center;
    box-sizing: border-box;
    color: white;
    border: 2px solid white;
    font-size: 30px;
    display: none;
}
.div{
    clear: both;
    padding-bottom: 30px;
}
.section1{
    text-align: center;
    padding: 30px 60px;
}
.section1 h1{
    font-size: 35px;
    padding: 10px;
    color: red;
}
.section1 p{
    font-size: 16px;
    padding: 10px;
}
.section2{
    width: 60%;
    float: left;
    padding: 0px 0px 0px 60px;
}
.section2 h1{
    font-size: 30px;
    padding: 10px;
}
.section2 p{
    font-size: 16px;
    padding: 10px;
}
.section3{
    width: 30%;
    float: right;
}
.section4{
    padding: 30px 20px;
}
.section5{
    text-align: center;
    padding: 30px 60px;
}
.section5 h1 {
    font-size: 35px;
    padding: 10px;
    color: red;
}
.section5 p{
    font-size: 16px;
    padding: 10px;
}
.team1 , .team2 , .team3{
    width: 30%;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}
.team1:hover , .team2:hover , .team3:hover{
    width: 30%;
    border: 2px solid white;
    text-align: center;
    background: linear-gradient(red,blue,green);
    color: white;
}
.team1 img , .team2 img , .team3 img{
    padding-top: 10px;
    border-radius: 80%;
    margin-right: -10px;
}
.team1 , .team2 , .team3 , h1{
    font-size: 24px;
    padding: 2px;
}
.team1 , .team2 , .team3 , p{
    font-size: 17px;
    padding: 2px;
}
.team1 ul{
    list-style-type: none;
}
.team1 ul li , .team2 ul li , .team3 ul li{
    text-decoration: none;
    display: inline-block;
    padding-bottom: 20px;
}
.team1 ul li i, .team2 ul li i, .team3 ul li i{
    width: 30%;
    padding: 10px;
}
.team1{
    width: 30%;
    float: left;
    margin-left: 20px;
}
.team2{
    width: 30%;
    float: right;
    margin-right: 20px;
}
.team3{
    width: 30%;
    float: right;
    margin-right: 30px;
}
.section6{

}
.section7{
    text-align: center;
    padding: 30px 60px;
}
.section7 h1{
    font-size: 35px;
    padding: 10px;
    color: red;
}
.section7 p{
    font-size: 16px;
    padding: 10px;
}
.section8 img{
    padding: 40px;
}
.footer{
    background-color: black;
    padding: 40px 10px 260px 10px;
}
.section9{
    width: 32%;
    float: left;
}
.section10{
    width: 30%;
    float: right;
    margin-left: 70px;
    color: white;
}
.section11{
    width: 32%;
    float: right;
    color: white;
}
.section9 h1{
    text-align: left;
    padding-left: 10px;
    color: white;
}
.section9 p{
    text-align: left;
    padding: 10px;
    color: white;
}
.section10 ul{
    color: white;
    list-style-type: none;
}
.section10 ul li{
    font-family: "Scope One", serif;
    padding: 5px 0px 10px 5px;
    color: white;
}
.section10 ul li a{
    text-decoration: none;
    color: white;
}
.section11 ul{
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding: 10px 0px 10px 10px;
}
.section11 ul li p{
    font-family: "Scope One", serif;
    padding: 10px 0px 10px 10px;
    text-decoration: none;
    color: white;
}
.section12 {
    background-image: url("images/m6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
.section13 i{
    font-size: 60px;
    padding-top: 100px;
}
.section13 h1{
    font-size: 60px;
    padding: 50px 20px 30px 20px;
}
.section13 p{
    font-size: 16px;
    padding: 0 100px;
}
.button1{

}
@media screen and (max-width: 578px){
    *{
        margin: 0;
        padding: 0;
        font-family: "Scope One", serif;
    }
    nav {
        background-color: black;
        overflow: hidden;
    }
    nav ul{
        width: 100%;
        display: none;
    }
    nav ul li{
        list-style-type: none;
        display:  block;
        text-align: center;
    }
    nav ul li a{
        text-decoration: none;
        font-family: "Scope One", serif;
        font-size: 18px;
        color: white;
        padding: 15px 25px;
        display: inline-block;
    }
    .logo {
        float: none;
        display: block;
    }
    .button{
        width: 20%;
        float: right;
        padding: 10px;
        background: black;
        text-align: center;
        box-sizing: border-box;
        border: 2px solid white;
        color: white;
        font-size: 30px;
        display: block;
    }
    .active{
        display: block;
    }
    .div{
        clear: both;
        padding-bottom: 30px;
    }
    .section1{
        text-align: center;
        padding: 30px 30px;
    }
    .section1 h1{
        font-size: 35px;
        padding: 10px;
        color: red;
    }
    .section1 p{
        font-size: 16px;
        padding: 10px;
    }
    .section2{
        width: 90%;
        margin-right: 10px;
    }
    .section2 h1{
        font-size: 30px;
        padding: 10px 20px;
    }
    .section2 p{
        font-size: 16px;
        padding: 10px 80px 10px 10px;
    }
    .section3{
        width: 80%;
        margin-right: 30px;
    }
    .section4{
        padding: 30px 10px;
    }
    .section5{
        text-align: center;
        padding: 30px 30px;
    }
    .section5 h1 {
        font-size: 35px;
        padding: 10px;
        color: red;
    }
    .section5 p{
        font-size: 16px;
        padding: 10px;
    }
    .team1 , .team2 , .team3{
        width: 80%;
        border: 2px solid black;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
    .team1:hover , .team2:hover , .team3:hover{
        width: 80%;
        border: 2px solid white;
        text-align: center;
        background: linear-gradient(red,blue,green);
        color: white;
    }
    .team1 img , .team2 img , .team3 img{
        padding-top: 10px;
        border-radius: 80%;
        margin-right: -10px;
    }
    .team1 , .team2 , .team3 , h1{
        font-size: 24px;
        padding: 2px;
    }
    .team1 , .team2 , .team3 , p{
        font-size: 17px;
        padding: 2px;
    }
    .team1 ul{
        list-style-type: none;
    }
    .team1 ul li , .team2 ul li , .team3 ul li{
        text-decoration: none;
        display: inline-block;
        padding-bottom: 20px;
    }
    .team1 ul li i, .team2 ul li i, .team3 ul li i{
        width: 30%;
        padding: 10px;
    }
    .team1{
        width: 80%;
        margin-left: 39px;
    }
    .team2{
        width: 80%;
        margin-right: 35px;
    }
    .team3{
        width: 80%;
        margin-right: 35px;
    }
    .section7{
        text-align: center;
        padding: 30px 30px;
    }
    .section7 h1{
        font-size: 35px;
        padding: 10px;
        color: red;
    }
    .section7 p{
        font-size: 16px;
        padding: 10px;
    }
    .section8 img{
        padding: 15px;
    }
    .footer{
        background-color: black;
        padding: 40px 10px 660px 10px;
    }
    .section9{
        width: 100%;
    }
    .section10{
        width: 100%;
        margin-left: 10px;
        color: white;
    }
    .section11{
        width: 100%;
        margin-left: 10px;
        color: white;
    }
    .section9 h1{
        text-align: left;
        padding-left: 20px;
        color: white;
    }
    .section9 p{
        text-align: left;
        padding: 10px;
        color: white;
    }
    .section10 ul{
        color: white;
        list-style-type: none;
    }
    .section10 ul li{
        font-family: "Scope One", serif;
        padding: 5px 0px 10px 5px;
        color: white;
    }
    .section10 ul li a{
        text-decoration: none;
        color: white;
    }
    .section11 ul{
        list-style-type: none;
        text-decoration: none;
        color: white;
        padding: 10px 0px 10px 10px;
    }
    .section11 ul li p{
        font-family: "Scope One", serif;
        padding: 10px 0px 10px 10px;
        text-decoration: none;
        color: white;
    }
}