*{
    margin: 0;
    padding: 0;
}
.logo{
    float: left;
}
nav ul{
    float: right;
    padding: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    font-family: "Scope One", serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 20px 25px;
}

.div{
	clear:both;
}
.section1{
	padding-top: 50px;
	
}

.g1{
	float:left;
	width: 50%;
	padding-left: 40px;
}

.g2{
	float:right;
	width: 45%;
}
.g1 h1{
	font-family: roboto;
	font-size:50px;
	color: red;
}
.g1 p{
	font-family: roboto;
	font-size:18px;
	color: black;
	padding-top: 25px;
	line-height:30px;
	padding-bottom: 60px;
}
.g1 a{
	font-family: roboto;
	font-size:18px;
	color: white;
	padding: 18px;
	background-color: red;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}

.section2{
	padding-top: 90px;
	
}
.g3{
	float:left;
	width: 33%;
	text-align: center;
}
.g4{
	float:right;
	width: 33%;
	text-align: center;
}
.g5{
	float:right;
	width: 33%;
	text-align: center;
}
.g3 h1{
    font-family: roboto;
	font-size:25px;
	color: red;
} 
.g4 h1{
    font-family: roboto;
	font-size:25px;
	color: red;
} 
.g5 h1{
    font-family: roboto;
	font-size:25px;
	color: red;
} 
.g3 p{
    font-family: roboto;
	font-size:16px;
	padding:20px;
	padding-bottom: 40px;
} 
.g4 p{
    font-family: roboto;
	font-size:16px;
	padding:20px;
	padding-bottom: 40px;
} 
.g5 p{
    font-family: roboto;
	font-size:16px;
	padding:20px;
	padding-bottom: 40px;
} 
.g3 a{
	font-family: roboto;
	font-size:18px;
	color: red;
	padding: 15px;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}
.g4 a{
	font-family: roboto;
	font-size:18px;
	color: red;
	padding: 15px;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}
.g5 a{
	font-family: roboto;
	font-size:18px;
	color: red;
	padding: 15px;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}
.section3{
	padding-top: 190px;
	
}
.g6{
	float:left;
	width: 50%;
	padding-left: 40px;
}

.g7{
	float:right;
	width: 45%;
}
 .g7 h1{
	font-family: roboto;
	font-size:35px;
	color: black;
	padding: 50px 0px;
}
.g7 p{
	font-family: roboto;
	font-size:16px;
	color: black;
	padding-right: 25px;
	line-height:30px;
	padding-bottom: 60px;
}
.g7 a{
	font-family: roboto;
	font-size:18px;
	color: white;
	padding: 18px;
	background-color: red;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}
.section4{
	padding-top: 100px;
}
.g8{
	width:45%;
	padding:40px;
	float: left;
}
.g9 h1{
	 font-family: roboto;
	 font-size: 22px;
	 padding:10px;
}
.g10 h1{
	 font-family: roboto;
	 font-size: 22px;
	 padding:10px;
}
.g11 h1{
	 font-family: roboto;
	 font-size: 22px;
	 padding:10px;
}
.g9 p{
	 font-family: roboto;
	 font-size: 18px;
	 padding:10px;
}
.g10 p{
	 font-family: roboto;
	 font-size: 18px;
	 padding:10px;
}
.g11 p{
	 font-family: roboto;
	 font-size: 18px;
	 padding:10px;
}
.g12{
	width:45%;
	float: right;
}

.section5{
	
	padding-top: 100px;
	padding-bottom:300px;
}
.g13{
	text-align: center;
	
}
.g13 h1{
	font-family: roboto;
	font-size:30px;
	padding:10px;
}
.g13 p{
	font-family: roboto;
	font-size:15px;
	line-height: 30px;
	padding:30px 60px;
}

.g14{
	width: 33%;
	float: left;
}
.g15{
	width: 33%;
	float:right;
}
.g16{
	width: 33%;
	float:right;
}
.g14{
	text-align: center;
}
.g15{
	text-align: center;
}
.g16{
	text-align: center;
}
.g14 h1{
	font-family: roboto;
	font-size:20px;
	padding:10px;
}
.g15 h1{
	font-family: roboto;
	font-size:20px;
	padding:10px;
}
.g16 h1{
	font-family: roboto;
	font-size:20px;
	padding:10px;
}
.g14 p{
	font-family: roboto;
	font-size:15px;
	
}
.g15 p{
	font-family: roboto;
	font-size:15px;
	
}
.g16 p{
	font-family: roboto;
	font-size:15px;
	
}
.g14 img{
	border-radius:20px;
	
}
.g15 img{
	border-radius:20px;
	
}
.g16 img{
	border-radius:20px;
	
}


.section6{
	background-color: red;
	padding-top: 100px;
	padding-bottom:300px;
}
.g17{
     width: 33%;
	float:left;
	padding-left:10px;
}
.g18{
	width: 33%;
	float:right;

}
.g19{
	width: 33%;
	float:right;

}

.g17 h1{
	font-family: roboto;
	font-size:27px;
	font-style:uppercase;
	color: white;
	padding: 10px;
	
}
.g17 p{
	font-family: roboto;
	font-size:15px;
	color: white;
	line-height:18px;
	padding: 10px;
	
}
.g18 h1{
	font-family: roboto;
	font-size:27px;
	font-style:uppercase;
	color: white;
	padding: 10px;
	
}
.g18 p{
	font-family: roboto;
	font-size:15px;
	color: white;
	line-height:18px;
	padding: 10px;
	
}
.g19 h1{
	font-family: roboto;
	font-size:27px;
	font-style:uppercase;
	color: white;
	padding: 10px;
	
}
.g19 p{
	font-family: roboto;
	font-size:15px;
	color: white;
	line-height:18px;
	padding: 10px;
	
}






















































@media (max-width: 576px){
*{
    margin: 0;
    padding: 0;
}
.logo{
    float: left;
}
nav ul{
    float: right;
    padding: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    font-family: "Scope One", serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 20px 25px;
}
.button{
        margin: 15px;
        width: 20%;
        float: right;
        display: block;
    }
.button:hover{
        margin: 15px;
        width: 20%;
        float: right;
        display: block;
    }
.active{
        display: block;
    }




.section1{
		padding-top: 50px;
}

.g1{
	width: 90%;
	padding-left: 40px;
}
.g2{
	padding-top: 80px;
	width: 90%;
}
.g1 h1{
	width: 100%;
	font-family: roboto;
	font-size:40px;
	color: red;
}
.g1 p{
	width: 70%;
	font-family: roboto;
	font-size:16px;
	color: black;
	padding-top: 25px;
	line-height:30px;
	padding-bottom: 60px;
}
.g1 a{
	font-family: roboto;
	font-size:18px;
	color: white;
	padding: 18px;
	background-color: red;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}
.g2 img{
	
	padding-left: 10px;
	width: 90%;
	height: 300px;
	
}
.section2{
	padding-top: 90px;
	
}
.g3{
	
	width: 100%;
	text-align: center;
	padding: 10px;
}
.g4{
	
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.g5{
	
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.g3 h1{
    font-family: roboto;
	font-size:25px;
	color: red;
} 
.g4 h1{
    font-family: roboto;
	font-size:25px;
	color: red;
} 
.g5 h1{
    font-family: roboto;
	font-size:25px;
	color: red;
} 
.g3 p{
    font-family: roboto;
	font-size:16px;
	padding:20px;
	padding-bottom: 40px;
} 
.g4 p{
    font-family: roboto;
	font-size:16px;
	padding:20px;
	padding-bottom: 40px;
} 
.g5 p{
    font-family: roboto;
	font-size:16px;
	padding:20px;
	padding-bottom: 40px;
} 
.g3 a{
	font-family: roboto;
	font-size:18px;
	color: red;
	padding: 15px;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}
.g4 a{
	font-family: roboto;
	font-size:18px;
	color: red;
	padding: 15px;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}
.g5 a{
	font-family: roboto;
	font-size:18px;
	color: red;
	padding: 15px;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}
.section3{
	padding-top: 190px;
	
}
.g6{
	
	width: 90%;
	padding-left: 40px;
}
.g6 img{
	height: 300px;
	width: 90%;
	
}

.g7{
	float:right;
	width: 90%;
}
 .g7 h1{
	font-family: roboto;
	font-size:35px;
	color: black;
	padding: 50px 0px;
}
.g7 p{
	font-family: roboto;
	font-size:16px;
	color: black;
	padding-right: 25px;
	line-height:30px;
	padding-bottom: 60px;
}
.g7 a{
	font-family: roboto;
	font-size:18px;
	color: white;
	padding: 18px;
	background-color: red;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}
.section4{
	padding-top: 100px;
	
}
.g8{
	width:80%;
	
	float: left;
}
.g9 h1{
	 font-family: roboto;
	 font-size: 22px;
	 padding:10px;
}
.g10 h1{
	 font-family: roboto;
	 font-size: 22px;
	 padding:10px;
}
.g11 h1{
	 font-family: roboto;
	 font-size: 22px;
	 padding:10px;
}
.g9 p{
	 font-family: roboto;
	 font-size: 18px;
	 padding:10px;
}
.g10 p{
	 font-family: roboto;
	 font-size: 18px;
	 padding:10px;
}
.g11 p{
	 font-family: roboto;
	 font-size: 18px;
	 padding:10px;
}
.g12{
	width:90%;
}
.g12 img{
	width:90%;
	height: 300px;
}
.section5{
	padding-top: 100px;
	padding-bottom:800px;
}
.g13{
	text-align: center;
	
}
.g13 h1{
	font-family: roboto;
	font-size:30px;
	padding:10px;
}
.g13 p{
	font-family: roboto;
	font-size:15px;
	line-height: 30px;
	padding:30px 60px;
}

.g14{
	width: 100%;
}

.g15{
	width: 100%;
	
}
.g16{
	width: 100%;
	
}
.g14{
	text-align: center;
}
.g15{
	text-align: center;
}
.g16{
	text-align: center;
}
.g14 h1{
	font-family: roboto;
	font-size:20px;
	
}
.g15 h1{
	font-family: roboto;
	font-size:20px;
	
}
.g16 h1{
	font-family: roboto;
	font-size:20px;
	
}
.g14 p{
	font-family: roboto;
	font-size:15px;
	padding:10px;
}
.g15 p{
	font-family: roboto;
	font-size:15px;
	padding:10px;
}
.g16 p{
	font-family: roboto;
	font-size:15px;
	padding-bottom:30px;
}
.g14 img{
	border-radius:20px;
	
}
.g15 img{
	border-radius:20px;
	
}
.g16 img{
	border-radius:20px;
}


.section6{
	background-color: red;
	padding-top: 100px;
	padding-bottom:600px;
}
.g17{
     width: 100%;
}
.g18{
	width: 100%;
    padding-left:40px;
}
.g19{
	width: 100%;
    padding-left:40px;
}

.g17 h1{
	font-family: roboto;
	font-size:27px;
	font-style:uppercase;
	color: white;
    padding-left:40px;
}
.g17 p{
	font-family: roboto;
	font-size:15px;
	color: white;
	line-height:18px;
	padding-left:40px;
}
.g18 h1{
	font-family: roboto;
	font-size:27px;
	font-style:uppercase;
	color: white;
	padding: 40px;
	
}
.g18 p{
	font-family: roboto;
	font-size:15px;
	color: white;
	line-height:18px;
	padding-left:40px;
	
}
.g19 h1{
	font-family: roboto;
	font-size:27px;
	font-style:uppercase;
	color: white;
	padding-left:40px;
}
.g19 p{
	font-family: roboto;
	font-size:15px;
	color: white;
	line-height:18px;
	padding-left:40px;
}






