*{
    margin: 0;
    padding: 0;
}
.logo{
    float: left;
}
nav ul{
    float: right;
    padding: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    font-family: "Scope One", serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 20px 25px;
}

.div{
	clear:both;
}
.section1{
	padding-top: 50px;
	
}

.g1{
	float:left;
	width: 50%;
	padding-left: 40px;
}

.g2{
	float:right;
	width: 45%;
}
.g1 h1{
	font-family: roboto;
	font-size:55px;
	color: red;
}
.g1 p{
	font-family: roboto;
	font-size:18px;
	color: black;
	padding-top: 25px;
	line-height:30px;
	padding-bottom: 60px;
}
.g1 a{
	font-family: roboto;
	font-size:18px;
	color: white;
	padding: 18px;
	background-color: red;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}

@media (max-width: 576px){
*{
    margin: 0;
    padding: 0;
}
.logo{
    float: left;
}
nav ul{
    float: right;
    padding: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    font-family: "Scope One", serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 20px 25px;
}
.button{
        margin: 15px;
        width: 20%;
        float: right;
        display: block;
    }
.button:hover{
        margin: 15px;
        width: 20%;
        float: right;
        display: block;
    }
.active{
        display: block;
    }




.section1{
		padding-top: 50px;
}

.g1{
	width: 90%;
	padding-left: 40px;
}
.g2{
	padding-top: 80px;
	width: 90%;
}
.g1 h1{
	width: 100%;
	font-family: roboto;
	font-size:40px;
	color: red;
}
.g1 p{
	width: 70%;
	font-family: roboto;
	font-size:16px;
	color: black;
	padding-top: 25px;
	line-height:30px;
	padding-bottom: 60px;
}
.g1 a{
	font-family: roboto;
	font-size:18px;
	color: white;
	padding: 18px;
	background-color: red;
	border:2px solid red;
	border-radius: 20px;
	text-decoration:none;
}
.g2 img{
	
	padding-left: 10px;
	width: 90%;
	height: 300px;
	
}

